* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: 10%;
}

.card-body img {
    min-width: 50%;
    max-height: 200px;
}